*{
    padding:0;
    margin:0;
    box-sizing: border-box;
 }
 body{
     width:100vw;
     height:100vh;
     display:flex;
     justify-content: center;
     align-items: center;
 }
 .container{
     width:500px;
     height:300px;
     border:2px solid black;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:20px;
     box-shadow: 3px 6px 9px black;
 }
 .btn{
   display:flex;
   gap:20px;
 }

 .btn button{
     padding:  10px 20px;
     font-size: 15px;
     font-weight: 600;
     cursor: pointer;
 }

 #show{
     border-radius: 30px;
     background:  red;
 }
